# ccci_mdinit
system_public_prop(ctl_mdlogger_prop)
system_public_prop(ctl_emdlogger1_prop)
system_public_prop(ctl_emdlogger2_prop)
system_public_prop(ctl_emdlogger3_prop)
system_public_prop(ctl_dualmdlogger_prop)

# init_svc
system_public_prop(init_svc_emdlogger1_prop)
system_public_prop(init_svc_aee_aedv_prop)

# DNS property
system_public_prop(net_dn_prop)

#=============DMC control property=============
system_public_prop(mtk_dmc_prop)

#=============PKM control property=============
system_public_prop(mtk_pkm_init_prop)

#=============MDM init control property=============
vendor_restricted_prop(init_svc_md_monitor_prop)
